<ion-header>

  <ion-navbar color="secondary">
      <ion-title>Ricerca professionisti</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-item>
    <ion-label stacked>Inserisci categoria:</ion-label>
    <ion-select #nome >
                <ion-option value=""> </ion-option>
              <ion-option *ngFor="let nome of nomi" value={{nome}}>{{nome}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label stacked>Inserisci città:</ion-label>
    <ion-select  #citta >
            <ion-option value=""> </ion-option>
            <ion-option *ngFor="let citta of cittas" value={{citta}}>{{citta}}</ion-option>
           
    </ion-select>
  </ion-item>

<p class="warning">Puoi inserire entrambi i paramentri o solo uno dei due!</p>
    <button ion-button block (click)="getprofRicerca(nome.value,citta.value)" color=secondary> Avvia la ricerca </button>
    
    <ion-list>
        <ion-item *ngFor="let professionista of proffinale " (click)="gotoProfiloPage(professionista.idProfessionista)">
    <ion-avatar item-start>
      <img src="assets/icon/logo.jpg">
    </ion-avatar>
    <h2>Nome:  {{professionista.nomeprofessionista }}</h2>
    <h2>Cognome: {{professionista.cognomeprofessionista}}</h2>
    <h2>Categoria: {{professionista.idCategoria.nome}}</h2>
    <h2>Citt&agrave;: {{professionista.citta}}</h2>
    
  </ion-item>
    <div padding text-justify *ngIf="proffinale.length == 0">
                <ion-card color="light_dark">
                    <ion-card-header>
                        JobService
                    </ion-card-header>
                    <ion-card-content>
                        Al momento non ci sono professionisti che corrispondono alle tue esigenze
                    </ion-card-content>
                </ion-card>
            </div>
        </ion-list>
</ion-content>
 

